.redOnHover:hover {
    color: red;
    text-shadow: 2px 5px 0px rgb(247, 165, 165);
}

h1,
h2,
h3 {
    text-align: center;
}

.card {
    width: 75%;
    margin-left: 12.5%;
    border: 1px solid;
    background-color: rgba(255, 177, 177, 0.534);
    border-color: rgb(255, 177, 177);
    border-radius: 10px;
    transition: 0.5s;
}

.fill {
    width: 100%;
    text-align: center;
}

.card :is(h2, p) {
    color: black;
}